h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p { 
    text-align: center;
    font-family:'courier New', monospace;
    font-style: italic;
}

.container{
    background-color: rgb(255, 255, 255);
    padding: 10PX 0;
}

.marker{
    width:300px;
    height:30px;
    margin: 15px auto;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:2px;
    border-top-right-radius:5px;
    border-top-left-radius:2px;
}

.cap{ 
    width:70px;
    height: 30px;
}
.sleeve{
    width: 200px;
    height: 30px;
    background-color: rgba(255,255,255,0.5);
    border-left: 10px double rgba(0,0,0,0,8);
}
.cap, .sleeve{
    display: inline-block;
}
.red{
    background:linear-gradient(rgb(122,74,14),
    rgb(245,62,133),rgb(162,27,27));
    box-shadow:0 0 20px 0 rgba(83,14,14,08);
}

.green{
    background: linear-gradient(#53680D,#71f53E,#116c31);
}
.blue{
    background: linear-gradient(hsl(186,76%,16%),hsl(223,98%,60%),hsl(240,56%,42%));
    box-shadow: 0 0 20PX 0 blue;
}